<html>
    <head>
        {{>header}}
    </head>
    <body>
        <div class="center-container">
            <h1 class="text-center">This is the home page</h1>
        </div>

        <style>
            body, html {
                height: 100%;
                background: #111;
            }
            .center-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            h1{
                color: white
            }
        </style>

    </body>
</html>